.body-wrapper {
    background: url(/img/header-banner-bg2.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
  @include breakpoint(desktop) {
    width: 100%;
  }
  @include breakpoint(tablet) {
    background: none;
  }
}